@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}
